<h2 class="text-center">Enter details to calculate the pension amount</h2>
<div class="outer-div col-lg-6 offset-lg-3">
    <form #pensionForm='ngForm' (ngSubmit)='handleProcessPensionInput(); pensionForm.resetForm()' class="px-3">

        <!-- Aadhaar Number -->
        <div class="form-group mt-2">
            <label for="aadhaar-number"><strong>Aadhaar Number <span class="text-danger">*</span></strong></label>
            <input type="text" class="form-control mt-1" id="aadhaar-number" name="aadhaar" #aadhaar=ngModel
                [(ngModel)]='processPensionInput.aadhaarNumber' pattern="^[0-9]{12}$"
                placeholder="Enter the 12 digit Aadhaar number" required />
            <!-- Validations -->
            <div *ngIf="aadhaar.invalid && (aadhaar.dirty || aadhaar.touched)" class="text-error">
                <div *ngIf="aadhaar.errors?.required">
                    * Aadhaar Number is required
                </div>
                <div *ngIf="aadhaar.errors?.pattern">
                    * Aadhaar Number format is incorrect
                </div>
            </div>
        </div> <!-- Aadhaar ends here -->



        <!-- Handle login and reset -->
        <div class="text-center">
            <button class="btn btn-primary mt-3 mx-3" [disabled]="!pensionForm.valid">Submit Details</button>
            <button type="reset" class="btn btn-secondary mt-3" (click)="handleReset()">Reset</button>
        </div><!-- Login ends here -->

        <!-- Error messages -->
        <div class="text-error text-center mt-3" (mouseleave)="handleReset()">
            <div *ngFor='let error of Errors'>
                <p>{{ error }}</p>
            </div>
        </div>
    </form> <!-- Form ends here -->
</div>

<!-- Success Message -->
<h2 [ngClass]="colour" class="break-div main-head mt-3 text-center" (mouseleave)="handleReset()">{{ message }}</h2>